@import "../../../assets/css/variables";

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: $white;
	
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 14px 0;

		@media (max-width: $tablet) {
			padding: 10px 0;
		}
	}

	&__logo {
		font-family: $fontRoboto;
		font-weight: 700;
		font-size: 32px;
		color: $red-dark;

		@media (max-width: $tablet) {
			font-size: 26px;
		}

		@media (max-width: $mobile) {
			font-size: 16px;
		}
	}
	border-bottom: 1px solid $gray-darker;
}

.social {
	display: flex;
	&__link {
		position: relative;

		width: 40px;
		height: 40px;

		background-color: $gray;
		border-radius: 5px;
		cursor: pointer;
		transition: background .1s linear;

		text-align: center;
		font-size: 16px;
		font-weight: 700;
		text-decoration: none;

		&:hover {
			background-color: darken($gray, 10%)
		}

		& + & {
			margin-left: 8px;
		}

		&--tablet {
			display: block;
			@media (max-width: $mobile) {
				display: none;
			}
		}

		&--mobile {
			display: none;
			@media (max-width: $mobile) {
				display: block;
			}
		}
		&--color-black {
			background-color: $black;
			color: $white;
			transition: background .1s linear;
			&:hover {
				background-color: $gray;
				color: $black;
			}
		}
		&--width-wide {
			width: auto;
			padding: 10px 12px;
		}

		img {
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			&.square {
				width: 16px;
				height: 16px;
			}

		}
		@media (max-width: $tablet) {
			width: 36px;
			height: 36px;

			&--width-wide {
				font-size: 14px;
				width: auto;
				padding: 8px 10px;
			}

			& + & {
				margin-left: 4px;
			}
		}

		@media (max-width: $mobile) {
			width: 32px;
			height: 32px;

			&--width-wide {
				width: auto;
				padding: 6px 8px;
			}
		}
	}
}