$gray: #EBEBEB;
$gray-light: #E5E5E5;
$gray-darker: #DDDDDD;
$black: #000000;
$white: #ffffff;
$red: #D24545;
$red-dark: #6A0B0B;

$fontWorkSans: 'Work Sans', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
