$gray: #EBEBEB;
$gray-white: #FAFAFA;
$gray-light: #E5E5E5;
$gray-darker: #DDDDDD;
$black: #000000;
$white: #ffffff;
$red: #D24545;
$red-medium: #B53838;
$red-dark: #6A0B0B;

$desktop: 1199px;
$laptop: 991px;
$tablet: 767px;
$mobile: 480px;
$mobileSm: 480px;


$fontWorkSans: 'Work Sans', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
