$gray: #EBEBEB;
$gray-light: #E5E5E5;
$gray-darker: #DDDDDD;
$black: #000000;
$white: #ffffff;
$red-dark: #6A0B0B;
$fontSourceSansPro: 'Source Sans Pro', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
