@import "../../assets/css/variables";

.header {
	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 15px 0;
	}

	&__logo {
		font-family: $fontRoboto;
		font-weight: 700;
		font-size: 32px;
		color: $red-dark;
	}
}

.social {
	display: flex;
	&__link {
		position: relative;

		width: 41px;
		height: 41px;

		background-color: $gray;
		border-radius: 5px;
		cursor: pointer;
		transition: background .1s linear;

		text-align: center;
		&:hover {
			background-color: darken($gray, 10%)
		}

		& + & {
			margin-left: 8px;
		}

		&--color-black {
			background-color: $black;
			color: $white;
			transition: background .1s linear;
			&:hover {
				background-color: $gray;
				color: $black;
			}
		}
		&--width-wide {
			width: auto;
			padding: 8px 10px;
		}

		img {
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%)
		}
	}
}